/* ESTILOS GERAIS + RESET */
* {
  font-family: 'Roboto Slab', serif !important;
  margin: 0;
	padding: 0 ;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none !important;
  } 

  a, h1, h2, h3, h4, h5, h6, p, span {
    color: #3d4449 !important;
  }

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    font-family: ;
    color: #7f888f !important;
    line-height: 1.65;
    font-family: 'Open Sans', sans-serif !important;
  }

  img {
    width: 100%;
    display: block;
  }

  .h2 {
    display: inline-block;
    border-bottom: 3px solid #A66CFF;
    margin: 0 0 2em 0;
    padding: 0 0.75em 0.5em 0 !important;
  }

  .section-tema {
    border-bottom: 2px solid #DDE1E2;
  }

/* NAVEGAÇÃO */

#navegacao {
  border-bottom: 5px solid #A66CFF;
}

#home:hover {
  color: #A66CFF !important;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in; 
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in
}


.icon:hover {
  color: #A66CFF;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in; 
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in
}

/* HEADER */


/* TECNOLOGIAS */


.cor-icon {
  --fa-inverse: #A66CFF;
}

.div-icon::after {
  transform: rotate(45deg);
  border-radius: 0.25rem;
  border: solid 2px rgba(210, 215, 217, 0.75);
  content: '';
  display: block;
  height: 7em;
  left: 50%;
  margin: -3.5em 0 0 -3.5em;
  position: absolute;
  top: 50%;
  width: 7em;
}

.div-icon {
  text-align: center;
  max-width: 150px;
  width: 100%;
  position: relative;
}

.div-text {
  text-align: justify;
}

.icon-img {
  margin: 0 auto;
  max-width: 56px;
  
}


/* PROJETOS */

#projetos {
  border: none;
}

#projetos div img {
  max-width: 623px;
  border-radius: 0.50em;
}

#projetos div.pe-5 {
  border-right: 1px solid #DDE1E2;
}

.btn-link {
  color: #A66CFF !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.075em;
  line-height: 3.5em;
  white-space: nowrap;
  border: 2px solid #A66CFF;
  border-radius: 0.375em;
  padding:  10px 20px !important;
}

.btn-link:hover {
  background-color: #ede1ff;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in; 
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in
}

.container-img img{
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.container-img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


footer {
  border: none !important;
  padding: 15px 0 15px 0;
  background-color: #A66CFF;
}

footer span {
  font-family: 'Times New Roman', Times, serif !important;
}






